<h3>Spring, 2020 <!-- {{ site.semester }} --> Semester</h3>
	<p><b>Class time: </b> Sundays from Jan. 12th to May 17th <!-- {{ site.semester_start }} to {{ site.semester_end }} -->
		<ul>
			<li>2:00 – 3:50 pm language classes</li>
			<li>4:00 – 4:50 pm non-language classes</li>
		</ul>
	</p>
	<p><b>Location: </b> Johnston Middle School (6501 NW 62nd Ave. Johnston)</p>

<p><b>Registration: </b> Online registration opens on Jan. 1st, 2020; onsite registration will be held at 1:30 PM on Jan. 12th</p>



	
