body {
        font: 12px "proxima-nova", sans-serif;
    }
      #topmenu{
        background-color: #cccccc;
        background-repeat: repeat-x;
        background-attachment: scroll;
        background-position: 0 0;
        height: 30px;
        margin: 0px 4px;
        padding: 0px 5px;
      }
      
      #topmenu ul{
        list-style: none;    
        margin: 0px;
        padding: 0px;       
      }
      
      #topmenu ul li{
        display: block;
        float: left;
        border: 0;
      }
      #topmenu ul li a{
        font-weight: bold;
        height: 30px;
        line-height: 30px;
        padding: 0 20px;
        color: #000080;
        text-decoration: none;
      }
      
      .tablemenu{
        display: block;
        border-width: 0px 1px 1px 1px;
        border-color: #cccccc;
        border-style: solid;
		  margin-bottom: 15px
      }
      .tablemenutitle{
        font-weight: bold;
        color: #000080;
        padding: 4px 20px 0px 20px;
        height: 20px;
        background: url(/assets/images/topmitte.gif) repeat-x;
      }
      .tablemenu ul{
        list-style: none;    
        margin: 0px;
        padding: 0px;  
      }
      .tablemenu ul li{
        display: block;
        border-width: 1px 0px 0px 0px;
        border-color: #cccccc;
        border-style: solid;
        padding-top: 3px;
        padding-bottom: 3px;
      }
      .tablemenu ul li a{
        padding: 5px 20px;
        color: #003456;
        text-decoration: none;
      }
      
    header{
        display: block;
        margin: 4px;
        padding: 20px;
        min-height: 75px;
        background: url(/assets/images/header.gif) repeat-x;
        border: 1px solid #cccccc;
    }
      
     #logo{
       background: url('/assets/images/banner.jpg');
       height: 75px;
       background-repeat: no-repeat;
      }
      
    footer {
        display: block;
        margin: 4px;
        padding: 10px 5px;
        font: 10px Helvetica;
        border: 1px solid #cccccc;
      text-align: center;
    }

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#267CB9;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}
